# Игнорировать локальные конфигурации SDK и пути
/local.properties

# Файлы сборки Gradle
/.gradle/
/**/build/

# Конфигурация Android Studio
/.idea/
/*.iml
/*.ipr
/*.iws

# Логи
*.log

# Файлы индексов Android Studio
.idea/caches/
/.idea/libraries/
/.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Kotlin daemon
/.kotlin/

# Файлы отладочной сборки
/*.apk
/*.ap_
/captures/

# Файлы профилей Android Studio
*.hprof

# Системные файлы macOS
.DS_Store

# Системные файлы Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Файлы JetBrains
out/

# Файлы сессий тестов
.junit/

# Файлы для CI/CD, отчёты о тестах
*.xml
*.html

# Файлы подписи
*.jks

# Proguard
/proguard/

# Firebase Crashlytics
crashlytics.properties
fabric.properties

# Другие временные файлы
*.tmp
*.temp
*~
